* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: univers;
    src: url('fonts/universltstd.otf');
}

@font-face {
    font-family: universBold;
    src: url('fonts/universltstd-bold.otf');
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: #F7F0F5;
    padding: 30px;
    font-family: univers;
    color: #433633;
}

#image-gallery {
    margin: 10px 0 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h1 {
    font-family: universBold;
}

#image-gallery h2 {
    font-size: 1.25em;
    padding: 5px;
}

#image-gallery li {
    overflow: hidden;
    width: 150px;
    height: 200px;
    background: #e2cfbb;
    list-style: none;
    margin: 5px;
    text-align: center;
    color: #5C5552;
    border-radius: 2px;
    border: 2px solid #8F857D;
}

#image-gallery li:hover {
    background: #DECBB7;
}

#image-gallery img {
    width: 100%;
}